.manageAccount{
    padding-top: 300px;
}


body  { 
    font-family: "Verdana", Georgia, serif !important; 
  }

  .scheduledBookingsContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }