body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  background-color: #f4f4f4; 
}

.homePage {
  text-align: center;
}

.navBar {
  background-color: #d32f2f; 
  color: white;
  padding: 20px 0;
  position: sticky; 
  top: 0;
  z-index: 1000;
}

.navBar h1 {
  margin: 0;
  font-size: 24px; 
}

.navBar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar nav ul li {
  margin: 0 20px; 
}

.navBar nav ul li a, .navBar nav ul li Link { 
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease; 
}

.navBar nav ul li a:hover, .navBar nav ul li Link:hover { 
  color: #a6dcef;
}

.content {
  padding: 20px;
}

@media (max-width: 768px) {
  .navBar nav ul {
    flex-direction: column;
  }

  .navBar nav ul li {
    margin: 10px 0; 
  }
}
