.dropdownSelect{
    
    margin-left: 0px;
    width:300px;
}

.CenterContent{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.SelectSpacer{
    width:930px;
    overflow-wrap:anywhere;
}

.walletName{
    padding-left: 30px;
}